[Unit]
Description=Hadoop Tasktracker
Requires=hadoop-jobtracker.service
After=hadoop-jobtracker.service

[Service]
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/lib/hadoop-0.22.0/bin/mapred tasktracker
User=hadoop
Group=hadoop

[Install]
WantedBy=multi-user.target
