[Unit]
Description=Hadoop
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/hadoop-all
ExecStart=/usr/lib/hadoop/bin/start-all.sh
ExecStop=/usr/lib/hadoop/bin/stop-all.sh
User=hadoop
Group=hadoop

[Install]
WantedBy=multi-user.target
